<%= form_for @destination do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title %>


  <%= f.label :country  %>
  <%= f.collection_select(:country_id, @countries, :id, :name, {prompt: "Select a Country"}, {required: true, class: 'country-select'})  %>

  <%= f.label :notes  %>
  <%= f.text_area :notes %>

  <div class="cancel-submit">
    <%= link_to "Cancel", :back, class: 'btn btn-outline-light' %>
    <%= f.submit class: 'btn btn-outline-light' %>
  </div>
<% end %>
