<section class="header-section">
  <div class="header-title">
    <h6>
      <%= @destination.title  %>
    <h6>
      <div class="header-buttons">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_destination_path(@destination) %>
        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, destination_path(@destination), method: :delete, data: { confirm: "You are about to delete this destination."} %>
      </div>
  </div>
</section>

<div class="destination-show">
  <h5>Title: </h5><h6><%= @destination.title %></h6>
  <h5>Country: </h5><h6><%= @destination.country.name %></h6>
  <h5>Notes: </h5><h6><%= @destination.notes %></h6>
</div>
