<%= form_for [:admin, @image] do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name %>

  <%= f.label :url %>
  <%= f.text_area :url %>

  <div class="cancel-submit">
    <%= link_to "Cancel", admin_images_path, class: 'btn btn-outline-light' %>
    <%= f.submit class: 'btn btn-outline-light' %>
  </div>
<% end %>
